.body{
    margin-top: 127px;
}
/*
Navbar
 */
#logo{
    transform: translateY(0.5px);
    margin-left: 30px;
    width: 315px;
}
.nav-item{
    margin-left: 15px;
    margin-right: 15px;
    font-size: 23px;
}
.nav-link{
    color: white;
}
.btn-outline-light{
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 23px;
}

#loginBtn, #logoutBtn{
    margin-right: 30px;
}

/*
Carousel
 */
#title-home{
    padding-top: 35px;
    margin-bottom: 18px;
    width: 450px;
}
#carousel-container{
    text-align: center;
}
#carousel-indicator1, #carousel-indicator2, #carousel-indicator3 {
    width: 7vw;
    height: 0.4vw;
    margin-left: 0.5vw;
}
.carousel-control-next-icon, .carousel-control-prev-icon {
    width: 4vw;
    height: 3vw;
}
.carousel-caption {
    width: auto;
    text-align: center;
    top: 75%;
    bottom: initial;
}
.h5{
    font-size: 50px;
}
/*
Footer
 */
#footer{
    margin-top: 50px;
}
#logo-footer{
    width: 230px;
}
/*
Login
*/
#form-container{
    border: 1px solid;
    background-color: white ;
}
.btn-link{
    color: rgb(11,66,142);
}
.maintheme{
    background-color: rgb(11,66,142);
    border-color: rgb(11,66,142);
}
.form-logo{
    max-width: 85%; height: auto;
}
#video {
    position:fixed;
    top: 50%;
    left: 50%;
    display: block;
    z-index: -1;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.login, .login:hover{
    color: rgb(11,66,142);
    font-size: 20px;
}
.invisolar-button{
    font-size: 20px;
    background-color: rgb(11,66,142);
    border-color: rgb(11,66,142);
}
/*
MyProfile
*/
.panel-body{
    margin: 15px 15px 0px 15px;
}
.form-group{
    font-size: 20px;
}
.form-control{
    margin-top: 5px;
}
.error{
    justify-content: center;
}
/*
General
*/
.invisolar{
    color: white;
    background-color: rgb(11,66,142);
    border-color: rgb(11,66,142);
}
.p{
    font-size:10px;
    margin-top: 0.25rem;
    margin-bottom: 0.5rem;
}