<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head div th:replace="~{common/header.html :: common-header}"></head>

<body class="body">

<div th:replace="~{common/header :: navbar}"></div>

<!-- Main Container -->
<div class="container w-75 text-center">

    <h2 class="section-headline pt-4 mb-4">
        <span th:text="${user.username}"></span> - Configurator
    </h2>

    <a th:if="${quotes}!=null" type="button" class="btn btn-primary invisolar-button mb-2" th:href="@{/configurator/myQuotes}">Go to your Quotes</a>

    <h4>Your future annual electricity demand is: <span th:text="${house.power}"/>kW</h4>
    <a type="button" class="btn btn-primary invisolar-button mt-2" th:href="@{/}">Modify your House Profile</a>

    <hr style="alignment: center; border: 1px solid black; width: 100%; margin-top: 1.5em; margin-bottom: 1.5em;">

    <!-- Edit user information -->
    <div class="container mt-4 text-center">
        <form class="form mt-2" th:action="@{/}" method="post">

            <div class="form-group mt-3">
                <h4 class="mb-2">What type of system do you prefer?</h4>

                <div class="form-check form-check-inline">
                    <input class="form-check-input mx-4" type="radio" name="systemForm" id="tiles" value="true"
                           onclick="showForm('tilesForm')">
                    <label class="form-check-label" for="tiles">
                        <img src="/image/Tiles.jpg" id="tilesImg" style="width: 300px;">Solar Roof</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input mx-4" type="radio" name="systemForm" id="panel" value="false"
                           onclick="hideForm('tilesForm')">
                    <label class="form-check-label" for="tiles">
                        <img src="/image/Panel.jpeg" id="panelImg" style="width: 300px;"><br>Solar Panel</label>
                </div>
            </div>

            <div class="form-group mt-3" id="tilesForm" style="display:none;">
                <h4 class="mb-2">What style do you prefer for your Solar Roof?</h4>

                <div class="form-check form-check-inline">
                    <input class="form-check-input mx-4" type="radio" name="styleForm" id="terracotta"
                           value="true" onclick="showForm('terracottaTiles')"/>
                    <label class="form-check-label" for="terracotta">Terracotta tiles</label>
                    <span id="terracottaTiles"></span>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input mx-4" type="radio" name="styleForm" id="black"
                           value="false" onclick="hideForm('terracottaTiles')">
                    <label class="form-check-label" for="black">Black tiles</label>
                </div>
            </div>

            <div class="form-group mt-3">
                <h4 class="mb-2">Choose the quality (and the cost) of the batteries:</h4>

                <div class="form-check form-check-inline">
                    <input class="form-check-input mx-4" type="radio" name="batteryForm" id="expensive" value="1300"/>
                        <img src="/image/tesla.jpg" id="expensiveImg" alt="Tesla Battery">
                    <label class="form-check-label" for="expensive">Tesla<br>(10 year guarantee)</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input mx-4" type="radio" name="batteryForm" id="cheap" value="1000"/>
                        <img src="/image/huawei.png" id="cheapImg" alt="Huawei Battery">
                    <label class="form-check-label" for="cheap">Huawei<br>(8 year guarantee)</label>
                </div>
            </div>

            <div class="mt-4">
                <button type="submit" class="btn btn-primary invisolar-button">Calculate your quote</button>
            </div>

        </form>
    </div>

</div>

<!-- end of Main Container -->
<script>



    function showForm(formName){
        const tilesForm = document.getElementById(formName);
        tilesForm.style.display = 'block';
    }

    function hideForm (formName){
        const tilesForm = document.getElementById(formName);
        tilesForm.style.display = 'none';
    }

</script>
<div th:replace="~{common/header.html :: body-bottom-scripts}"></div>
</body>
<footer>
    <div th:replace="~{common/footer.html :: footer}"></div>
</footer>
</html>
