<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head div th:replace="~{common/header.html :: common-header}"></head>

<body class="body">

<div th:replace="~{common/header :: navbar}"></div>

<!-- Main Container -->
<div class="container w-50 w-50">

    <h2 class="section-headline text-center pt-4 mb-2">
        <span th:text="${user.username}"></span> - House Profiling
    </h2>

    <!-- Edit user information -->
    <div class="container mt-5">

        <div th:if="${startingPower}" class="text-center">
            <h4>Your actual annual power consumption is: <span th:text="${startPower}"></span>kW</h4>
            <a type="button" class="btn btn-primary invisolar-button mt-2" th:href="@{/houseProfiling/modifyStartPower}">Modify it</a>
        </div>

        <div th:if="${!startingPower}" class="text-center">
            <h4 class="mb-2"> Do you know your actual annual electric consumption (kW) ? </h4>
            <span class="error" style="color: red;" th:if="${nullStartPower}">
                          (Insert a valid number, bigger then zero)</span>
            <div class="mt-2 mb-2">
                <button class="btn btn-primary invisolar-button mx-4" id="yesPower">Yes</button>
                <button class="btn btn-primary invisolar-button mx-4" id="noPower">No</button>
            </div>
        </div>

        <div class="text-center">
            <form class="form mt-2" id="yesPowerForm" th:action="@{/houseProfiling/startProfileForm}" method="post" style="display:none;">
                <div class="form-group mt-2">
                    <input type="hidden" value="0" id="numPeople" name="numPeople"/>
                    <label for="actualPower">Insert here your annual electric consumption</label>
                    <input type="number" class="form-control w-50 mx-auto" min="0" value="0"
                           id="actualPower" name="actualPower" placeholder="Number of kW"/>
                    <button type="submit" class="btn btn-primary invisolar-button mt-2">Save this as your actual annual electric consumption</button>
                </div>
            </form>

            <form class="form mt-2" id="noPowerForm" th:action="@{/houseProfiling/startProfileForm}" method="post" style="display:none;">
                <div class="form-group mt-2">
                    <input type="hidden" value="0" id="actualPower" name="actualPower"/>
                    <label for="numPeople">Insert here the number of people living in the house</label>
                    <input type="number" class="form-control w-50 mx-auto" min="0" value="0"
                           id="numPeople" name="numPeople" placeholder="Min. 1"/>
                    <button type="submit" class="btn btn-primary invisolar-button mt-2">Estimate your actual annual electric consumption</button>
                </div>
            </form>
        </div>

        <div class="text-center">

            <form class="form mt-3" th:action="@{/houseProfiling/createProfileForm}" method="post">

        <span class="error" style="color: red;" th:if="${missingStartPower}">
          (Insert a valid value of actual annual electric power, bigger then zero)</span>

                <input type="hidden" th:value="${startPower}" id="startPower" name="startPower">

                <div class="form-group mt-4">
                    <h4 class>In the future, are you going to use an electric boiler for house's heating?</h4>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input mx-4" type="radio"
                               name="boilerCheckbox" id="boilerCheckbox1" value="true">
                        <label class="form-check-label" for="boilerCheckbox1">Yes</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input mx-4" type="radio"
                               name="boilerCheckbox" id="boilerCheckbox2" value="false">
                        <label class="form-check-label" for="boilerCheckbox2">No</label>
                    </div>
                </div>

                <div class="form-group mt-3">
                    <h4>In the future, are you going to have an electric car and its domestic charging station?</h4>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input mx-4" type="radio"
                               name="carCheckbox" id="carCheckbox1" value="true" onclick="showKmForm()">
                        <label class="form-check-label" for="carCheckbox1" onclick="showKmForm()">Yes</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input mx-4" type="radio"
                               name="carCheckbox" id="carCheckbox2" value="false" onclick="hideKmForm()">
                        <label class="form-check-label" for="carCheckbox2" onclick="hideKmForm()">No</label>
                    </div>
                </div>

                <div class="form-group mt-3" id="kmForm" style="display: none;">
                    <h4>How many kilometers do you expect to drive with your electric car each year?</h4>
                    <div class="row text-start w-75 mx-auto">
                        <div class="col">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="kmCheckbox" id="kmCheckbox1" value="1000">
                                <label class="form-label" for="kmCheckbox1">Less then 15.000</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="kmCheckbox" id="kmCheckbox3" value="3000">
                                <label class="form-label" for="kmCheckbox3">Between 25.000 and 35.000</label>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="kmCheckbox" id="kmCheckbox2" value="2000">
                                <label class="form-label" for="kmCheckbox2">Between 15.000 and 25.000</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="kmCheckbox" id="kmCheckbox4" value="4000">
                                <label class="form-label" for="kmCheckbox4">More than 35.0000</label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group mt-3">
                    <h4> What direction does your roof face? </h4>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input mx-4" type="radio"
                               name="orientationCheckbox" id="orientationCheckbox1" value="true">
                        <label class="form-check-label" for="orientationCheckbox1">North or West</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input mx-4" type="radio"
                               name="orientationCheckbox" id="orientationCheckbox2" value="false">
                        <label class="form-check-label" for="orientationCheckbox2">South or East</label>
                    </div>
                </div>

                <div class="text-center mt-4">
                    <button type="submit" class="btn btn-primary invisolar-button"> Calculate your annual electric consumption </button>
                </div>

            </form>
        </div>
    </div>
</div>
<!-- end of Main Container -->
<script>

    function showKmForm (){
        const kmForm = document.getElementById('kmForm');
        kmForm.style.display = 'block';
    }

    function hideKmForm (){
        const kmForm = document.getElementById('kmForm');
        kmForm.style.display = 'none';
    }

    const yesBtn = document.getElementById('yesPower');
    const yesForm = document.getElementById('yesPowerForm');
    const noBtn = document.getElementById('noPower');
    const noForm = document.getElementById('noPowerForm');

    yesBtn.addEventListener('click', () => {
        if (yesForm.style.display === 'none') {
            // 👇️ this SHOWS the form
            yesForm.style.display = 'block';
            noForm.style.display = 'none';

        }
    });

    noBtn.addEventListener('click', () => {
        if (noForm.style.display === 'none') {
            // 👇️ this SHOWS the form
            noForm.style.display = 'block';
            yesForm.style.display = 'none';
        }
    });

</script>
<div th:replace="~{common/header.html :: body-bottom-scripts}"></div>
</body>
<footer>
    <div th:replace="~{common/footer.html :: footer}"></div>
</footer>
</html>


<div th:if="${principal.getUsername()}">
  <h2 class="mt-4">
    Before you can use the configurator you have to do your House Profile
  </h2>
  <a class="btn btn-primary btn-lg invisolar-button mt-2 mb-3" href="/houseProfiling">House Profiling</a>
</div>