<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{common/header.html :: common-header}"></head>

<body class="body text-center">

<video autoplay loop muted id="video">
  <source src="/video/video-login.mp4" type="video/mp4">
</video>

<main class="form" style="padding-top: 125px;">
  <div class="container">
    <div class="row row-cols-sm-3">
      <div class="col-1 col-sm-3"></div>
      <div class="col-10 col-sm-6" id="form-container">
        <img src="/image/logo.png" class="form-logo" alt="InviSolar Logo">

        <ul class="nav nav-underline nav-justified">
          <li class="nav-item login">
            <a class="nav-link login" href="#tab-1" data-bs-toggle="tab" aria-current="page" th:classappend="${classActiveNewAccount}? 'active'">Sign up</a>
          </li>
          <li class="nav-item login">
            <a class="nav-link login" href="#tab-2" data-bs-toggle="tab" aria-current="page" th:classappend="${classActiveLogin}? 'active'">Log in</a>
          </li>
          <li class="nav-item login">
            <a class="nav-link login" href="#tab-3" data-bs-toggle="tab" aria-current="page" th:classappend="${classActiveForgetPassword}? 'active'">Forget Password</a>
          </li>
        </ul>

        <div class="tab-content mb-2">

          <!-- Sign up -->
          <div class="tab-pane fade" id="tab-1" th:classappend="${classActiveNewAccount}? 'active show'">
            <div class="panel-group">
              <div class="panel panel-default" style="border: none;">
                <div class="panel-body">
                  <div class="alert alert-info" th:if="${emailSent}">An
                    email has been sent to the email address you just registered.
                    Please validate your email address and update your password
                    information.</div>
                  <form th:action="@{/signin}" method="post">
                    <div class="form-group">
                      <label for="newUsername"> Username: </label>&nbsp;<span
                            style="color: red;" th:if="${usernameExists}">Username
												already exists. Choose a different one.</span> <input
                            required="required" type="text" class="form-control"
                            id="newUsername" name="username" />
                      <p style="color: #828282">Enter your username here.</p>
                    </div>

                    <div class="form-group">
                      <label for="email"> Email Address: </label><span
                            style="color: red;" th:if="${emailExists}">Email
												already exists. Choose a different one.</span> <input
                            required="required" type="text" class="form-control"
                            id="email" name="email" />
                      <p style="color: #828282">A valid email address. All
                        emails from the system will be sent to this address. The
                        email address is not made public and will only be used if
                        you wish to receive a new password or wish to receive
                        certain notification.</p>
                    </div>

                    <button type="submit" class="btn btn-primary  login-button">Create new account</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
                  <!-- Login -->
          <div class="tab-pane fade" id="tab-2" th:classappend="${classActiveLogin}? 'active show'">
            <div class="panel-group">
              <div class="panel panel-default" style="border: none;">
                <div class="panel-body">
                  <div th:if="${loginError}" style="color:red;">Incorrect username or password.</div>
                  <form th:action="@{/login}" method="post">
                    <div class="form-group">
                      <label for="username"> Username: </label> <input
                            required="required" type="text" class="form-control"
                            id="username" name="username" />
                      <p style="color: #828282">Enter your username here.</p>
                    </div>

                    <div class="form-group">
                      <label for="password"> Password: </label> <input
                            required="required" type="password" class="form-control"
                            id="password" name="password" />
                      <p style="color: #828282">Enter the password for your username</p>
                    </div>
                  <!--
                    <div class="checkbox mt-3 mb-1">
                      <label>
                        <input type="checkbox" value="remember-me"> Remember me
                      </label>
                    </div>
                   Remember me button -->
                    <button type="submit" class="btn btn-primary login-button" >Log in</button>
                  </form>
                </div>
              </div>
            </div>
          </div>

          <!-- Forgot Password -->
          <div class="tab-pane fade" id="tab-3" th:classappend="${classActiveForgetPassword}? 'active show'">
            <div class="panel-group">
              <div class="panel panel-default" style="border: none;">
                <div class="panel-body">
                  <div th:if="${emailNotExist}" class="alert alert-danger">Email doesn't exist.</div>
                  <div th:if="${forgetPasswordEmailSent}" class="alert alert-success">Email sent.</div>
                  <form th:action="@{/forgotPassword}" method="post">
                    <div class="form-group">
                      <label for="recoverEmail"> Your Email: </label> <input
                            required="required" type="text" class="form-control"
                            id="recoverEmail" name="email" />
                      <p style="color: #828282">Enter your registered email
                        address here.</p>
                    </div>
                    <button type="submit" class="btn btn-primary  login-button">Reset Password</button>
                  </form>
                </div>
              </div>
            </div>
          </div>

          <p class="mt-2 mb-3 text-muted">&copy; 2023</p>
        </div>
      </div>
    </div>
  </div>
  <!-- <form action="/static" id="signin_form" th:classappend="${classActiveSignin}? 'in active'">
          <div class="container">
            <img src="/image/logo.png" class="form-logo" alt="InviSolar Logo">
            <h1 class="h3 mb-3 fw-normal">Sign in</h1>
            <div class="form-floating">
              <input type="email" class="form-control mt-2 autofocus floatingInput" placeholder="name@example.com">
              <label class="floatingInput">Email address</label>
            </div>
            <div class="form-floating">
              <input type="password" class="form-control mt-2 floatingPassword" placeholder="Password">
              <label class="floatingPassword">Password</label>
            </div>
            <a class="btn btn-link mt-2 toLogin" th:href="@{/login}">
              Already have an account? Login instead
            </a>
          </div>
          <button class="maintheme btn btn-lg btn-primary mt-3" type="submit">
            Sign in
          </button>
          <p class="mt-2 mb-3 text-muted">&copy; 2023</p>
        </form>

        <form action="#" id="forgotpassword_form" th:classappend="${classActiveForgotPassword}? 'in active'">
          <div class="container">
            <img src="/image/logo.png" class="form-logo" alt="InviSolar Logo">
            <h1 class="h3 mb-3 fw-normal">Insert the email associated with your account</h1>
            <div class="form-floating">
              <input type="email" class="form-control mt-2 autofocus floatingInput" placeholder="name@example.com">
              <label class="floatingInput">Email address</label>
            </div>
            <a class="btn btn-link mt-2 toLogin" th:href="@{/login}">
              Already have an account? Login instead
            </a>
            <a class="btn btn-link toSignin" th:href="@{/signin}">
              Don't have an account? Sign in instead
            </a>
          </div>
          <button class="maintheme btn btn-lg btn-primary mt-4" type="submit">
            Send mail to reset password
          </button>
          <p class="mt-2 mb-3 text-muted">&copy; 2023</p>
        </form> -->
</main>

<div th:replace="~{common/header :: body-bottom-scripts}" />
</body>
</html>