<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head div th:replace="~{common/header.html :: common-header}"></head>

<body class="body">

<div th:replace="~{common/header :: navbar}"></div>

<!-- Main Container -->
<div class="container w-50">

    <h2 class="section-headline text-center pt-4 mb-2">
      <span th:text="${user.username}"></span><span class="tab"> - </span>
      <span th:text="${user.email}"></span>
    </h2>
      <hr style="alignment: center; border: 1px solid; width: 100%;">
    <h2 class="section-headline text-center my-2">
      <span th:if="${firstTime}">Firstly end your account configuration</span>
      <span th:if="!${firstTime}">Edit your profile</span>
    </h2>

        <!-- Edit user information -->
        <div class="container mt-4">

            <form th:action="@{/editUserInfo}" method="post">

                <div class="container w-75 justify-content-center">
                    <div class="bs rounded-3 mb-1 px-2 py-1 invisolar text-center" th:if="${updatedUserInfo}">
                        User information updated.
                    </div>
                </div>

                <div class="form-group mt-2">
                    <label for="username">Username</label>
                    <span class="error" style="color: red;" th:if="${usernameExists}">
                        (This username is already used, or it's the same as the old one)</span>
                    <span class="error" style="color: red;" th:if="${usernameNotNull}">
                        (The username filed cannot be empty)</span>
                    <input type="text" class="form-control"
                           id="username" name="username"
                           th:value="${user.username}"/>
                </div>

                <div class="form-group mt-2">
                    <label for="firstName">First Name</label>
                    <input type="text" class="form-control"
                       id="firstName" name="firstName"
                       th:value="${user.firstName}"/>
                </div>

                <div class="form-group mt-2">
                    <label for="lastName">Last Name</label>
                    <input type="text" class="form-control"
                       id="lastName" name="lastName"
                       th:value="${user.lastName}"/>
                </div>

                <div class="form-group mt-2">
                    <label for="email">Email</label>
                    <span class="error" style="color: red;" th:if="${emailExists}">
                        (This email it's already used, or it's the same as the old one)</span>
                    <span class="error" style="color: red;" th:if="${emailNotNull}">
                        (The email filed cannot be empty)</span>
                    <input type="text" class="form-control"
                       id="email" name="email"
                       th:value="${user.email}"/>
                </div>

                <div class="form-group mt-2">
                    <label for="currentPassword">Password</label>
                    <span class="error" style="color: red;" th:if="${wrongPassword}">
                        (This password isn't correct)</span>
                    <input type="password" class="form-control"
                       id="currentPassword" name="currentPassword"/>
                </div>

                <div class="form-group mt-2">
                    <label for="newPassword">Password</label>
                    <span class="error" style="color: red;" th:if="${passwordTooShort}">
                        (This password is too short, or it's the same as the old one)</span>
                    <input type="password" class="form-control"
                           id="newPassword" name="newPassword"/>
                </div>

                <div class="form-group mt-2">
                    <label for="phone">Phone Number</label>
                    <input type="text" class="form-control"
                       id="phone" name="phone"
                       th:value="${user.phone}"/>
                </div>

                <div class="text-center mt-4">
                    <button type="submit" class="btn btn-primary invisolar-button"> Save changes to your account </button>
                </div>

            </form>

        </div>
</div>
<!-- end of Main Container -->

<div th:replace="~{common/header.html :: body-bottom-scripts}"></div>
</body>
<footer>
  <div th:replace="~{common/footer.html :: footer}"></div>
</footer>
</html>
